<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.cesidiodibenedetto.filechooser"
    version="1.0.0">
    <name>WebIntent</name>
    <description>File Chooser for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,filechooser,android</keywords>

    <js-module src="www/filechooser.js" name="FileChooser">
        <clobbers target="FileChooser" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileChooser" >
                <param name="android-package" value="com.cesidiodibenedetto.filechooser.FileChooser"/>
            </feature>
        </config-file>

        <source-file src="src/android/FileChooser.java" target-dir="src/com/cesidiodibenedetto/filechooser" />
    </platform>
</plugin>
