<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.cesidiodibenedetto.filechooser"
    version="1.0.0">
    <name>FileChooser</name>
    <description>File Chooser for Cordova to overcome Android 4.4 issues outlined here: https://issues.apache.org/jira/browse/CB-5294 and https://code.google.com/p/android/issues/detail?id=62220</description>
    <license>MIT</license>
    <keywords>cordova,filechooser,android</keywords>

    <js-module src="www/filechooser.js" name="FileChooser">
        <clobbers target="FileChooser" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileChooser" >
                <param name="android-package" value="com.cesidiodibenedetto.filechooser.FileChooser"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="empty_directory">Empty Directory</string>
            <string name="storage_removed">Storage was removed or unmounted.</string>
            <string name="choose_file">Select a file</string>
            <string name="chooser_title">File Browser</string>
            <string name="error_selecting_file">Error selecting File</string>
            <string name="internal_storage">Internal storage</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.ipaulpro.afilechooser.FileChooserActivity"
                android:icon="@drawable/ic_chooser"
                android:enabled="@bool/use_activity"
                android:exported="true"
                android:label="@string/choose_file" >
                <intent-filter>
                    <action android:name="android.intent.action.GET_CONTENT" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.OPENABLE" />

                    <data android:mimeType="*/*" />
                </intent-filter>
            </activity>
            <provider
                android:name="com.ianhanniballake.localstorage.LocalStorageProvider"
                android:authorities="com.ianhanniballake.localstorage.documents"
                android:enabled="@bool/use_provider"
                android:exported="true"
                android:grantUriPermissions="true"
                android:permission="android.permission.MANAGE_DOCUMENTS" >
                    <intent-filter>
                        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
                    </intent-filter>
            </provider>            
        </config-file>

        <!-- cordova plugin src files -->
        <source-file src="src/android/FileChooser.java" target-dir="src/com/cesidiodibenedetto/filechooser" />
        <source-file src="src/android/filechooser/FileChooserActivity.java" target-dir="src/com/ipaulpro/afilechooser" />
        <source-file src="src/android/filechooser/FileListAdapter.java" target-dir="src/com/ipaulpro/afilechooser" />
        <source-file src="src/android/filechooser/FileListFragment.java" target-dir="src/com/ipaulpro/afilechooser" />
        <source-file src="src/android/filechooser/FileLoader.java" target-dir="src/com/ipaulpro/afilechooser" />
        <source-file src="src/android/filechooser/FileUtils.java" target-dir="src/com/ipaulpro/afilechooser/utils" />        
        <source-file src="src/android/filechooser/LocalStorageProvider.java" target-dir="src/com/ianhanniballake/localstorage" />
        <source-file src="src/android/filechooser/libs/android-support-v4.jar" target-dir="libs/" />

        <!-- res files -->
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_chooser.png" target-dir="res/drawable" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_file.png" target-dir="res/drawable" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_folder.png" target-dir="res/drawable" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_provider.png" target-dir="res/drawable" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_chooser.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_file.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_folder.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/filechooser/res/drawable-hdpi/ic_provider.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/filechooser/res/drawable-mdpi/ic_chooser.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/filechooser/res/drawable-mdpi/ic_file.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/filechooser/res/drawable-mdpi/ic_folder.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/filechooser/res/drawable-mdpi/ic_provider.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/filechooser/res/drawable-xhdpi/ic_chooser.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xhdpi/ic_file.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xhdpi/ic_folder.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xhdpi/ic_provider.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xxhdpi/ic_chooser.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xxhdpi/ic_file.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xxhdpi/ic_folder.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/filechooser/res/drawable-xxhdpi/ic_provider.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/filechooser/res/xml/mimetypes.xml" target-dir="res/xml" />
        <source-file src="src/android/filechooser/res/layout/file.xml" target-dir="res/layout" />
        <source-file src="src/android/filechooser/res/values/bool.xml" target-dir="res/values" />
        <source-file src="src/android/filechooser/res/values/dimens.xml" target-dir="res/values" />
        <source-file src="src/android/filechooser/res/values/styles.xml" target-dir="res/values" />
        <source-file src="src/android/filechooser/res/values-v19/bool.xml" target-dir="res/values-v19" />
                
    </platform>
</plugin>
